@charset "UTF-8";

/*================================================
1. Default CSS
2. Header Menu CSS
3. Hero CSS
4. Service Area CSS
5. Count Area CSS
6. Assignment Area CSS
7. Testimonial area CSS
8. FAQ Area CSS
9. Blog Area CSS
10. Call to action
11. Footer CSS


=================================================*/
/*================================================
1. Default CSS
=================================================*/
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&amp;display=swap");
/* Font Variable */
/* Color Variable */
a {
  color: unset;
  text-decoration: none;
}

a:focus {
  outline: 0 solid;
}

a:hover {
  text-decoration: none;
  color: unset;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #1A064E;
  text-transform: capitalize;
}

html, body {
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  background: #F6F6F6;
}

p {
  margin-bottom: 0;
}

input:focus, textarea:focus, button:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

i.bx {
  vertical-align: middle;
}

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

input:-webkit-autofill:hover, input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.mt-120 {
  margin-top: 120px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-36 {
  margin-top: 36px;
}

.mb-96 {
  margin-bottom: 96px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-96 {
  padding-bottom: 96px;
}

.pb-120 {
  padding-bottom: 120px;
}

.shape {
  position: absolute;
  z-index: -1;
}

.positioning {
  position: relative;
  z-index: 2;
}

.section-title.style-two h1 {
  color: #fff;
}

.section-title p {
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #6440FA;
  margin-bottom: 14px;
}

.section-title h1 {
  font-size: 32px;
  line-height: 44px;
}

.owl-carousel .owl-item img {
  display: unset;
  width: unset;
}

.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 37px;
}

.owl-carousel .owl-dots .owl-dot {
  border: none;
  width: 40px;
  height: 8px;
  background: rgba(26, 6, 78, 0.1);
  border-radius: 5px;
  margin-right: 10px;
}

.owl-carousel .owl-dots .owl-dot:last-child {
  margin-right: 0;
}

.owl-carousel .owl-dots .owl-dot.active {
  width: 10px;
  height: 8px;
  background: #6440FA;
}

.common-border {
  position: relative;
}

.common-border::before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 70%;
  background: rgba(26, 6, 78, 0.1);
  content: "";
  top: 0;
}

.common-border::after {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 1px;
  width: 70%;
  background: rgba(26, 6, 78, 0.1);
  content: "";
  bottom: 0;
}

.common-border.common-border-top-none::before {
  display: none;
}

.common-btn {
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
  color: #FFFFFF;
  background: #6440FA;
  border-radius: 10px;
  padding: 21px 41px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.common-btn:hover {
  color: #fff;
}

.common-btn:hover::before {
  width: 100%;
}

.common-btn:before {
  position: absolute;
  height: 100%;
  width: 0;
  background: #3f10f9;
  content: "";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.breadcrumb-area {
  background-image: url(../images/shape/breadcrumb-bg-shape.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 217px 0 400px;
}

.breadcrumb-content h1 {
  font-weight: 400;
  font-size:34px;
  color: #FFFFFF;
}

.breadcrumb-content p {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
  margin-top: 5px;
}

.breadcrumb-content p a {
  color: #FF9D0F;
}

.breadcrumb-link h4 {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.breadcrumb-link h4 a {
  color: #FF9D0F;
}

.breadcrumb-round-1 {
  left: 50%;
  top: 23%;
  -webkit-animation: rot-2 20s linear infinite;
          animation: rot-2 20s linear infinite;
}

/*================================================
2. Header Menu CSS
=================================================*/
.logo, .main-nav, .menu-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header-menu-area {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  background: transparent;
  padding: 0 98px;
  border-bottom: 3px solid #704FFD;
}

.header-menu-area.header-menu-style-2 {
  border-bottom: 3px solid #ffffff1a;
}

.main-nav {
  float: right;
}

.menu-btn-wrap {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.hamburger {
  position: relative;
  width: 40px;
  height: 30px;
  cursor: pointer;
  border: 5px solid transparent;
  margin-top: 10px;
  display: none;
  z-index: 1;
}
.web-btn {
    background: #FF9D0F;
    border-radius: 5px;
    /* width: 100%; */
    /* font-family: "Nunito", sans-serif; */
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 7px 20px;
    margin-top: 40px;
    display: inline-block;
}
.web-btn:hover{
  background: #a86500;
  color: #fff;
  }
.whatchat-btn{
   background:#25d366;
    border-radius: 5px;
    /* width: 100%; */
    /* font-family: "Nunito", sans-serif; */
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 7px 20px;
    margin-top: 40px;
    display: inline-block;

}
.whatchat-btn span{
  display: inline-block;
  margin-right: 6px;
}
a.whatchat-btn:hover {
    background-color: #0be75d;
    color: #fff;
}
.hamburger span {
  width: 100%;
  height: 2px;
  background: #FF9D0F;
  display: block;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.hamburger span.h-top {
  top: 0;
}

.hamburger span.h-bottom {
  bottom: 0;
  width: 27px;
}

.hamburger span.h-middle {
  top: 50%;
  margin-top: -1px;
  width: 25px;
}

.hamburger.h-active span {
  width: 100%;
}

.hamburger.h-active span.h-top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
  margin-top: -1px;
}

.hamburger.h-active span.h-middle {
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  opacity: 0;
}

.hamburger.h-active span.h-bottom {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 50%;
  margin-bottom: -1px;
}

.main-nav > ul > li {
  display: inline-block;
  position: relative;
  padding: 20px 23px;
}

.main-nav > ul > li.has-child-menu:after {
  position: absolute;
  right: 4px;
  top: 18.5px;
  font-family: "boxicons";
  content: "";
  font-size: 17px;
  color: #ffffff91;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.main-nav > ul > li:hover.has-child-menu:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-nav > ul > li > a {
  display: block;
  text-decoration: none;
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 16px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
}

.main-nav > ul > li:hover > a:after {
  opacity: 1;
}

.main-nav ul li .sub-menu {
  position: absolute;
  left: 0;
  top: 90px;
  min-width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: #fff;
  -webkit-box-shadow: 7px 10px 40px rgba(13, 52, 79, 0.1);
          box-shadow: 7px 10px 40px rgba(13, 52, 79, 0.1);
  border-radius: 4px;
  border: 1px solid #ddd;
}

.main-nav ul li .sub-menu li .sub-menu {
  right: -200px;
  left: inherit;
  top: 0;
}

.main-nav ul li .sub-menu > li {
  display: block;
  margin: 0;
  position: relative;
}

.main-nav ul li .sub-menu > li a {
  display: block;
  padding: 15px 18px;
  line-height: 1;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-nav ul li .sub-menu > li a:last-child {
  border: none;
}

.main-nav ul li .sub-menu > li a:hover {
  color: #6440FA;
}

.main-nav .fl {
  width: 30px;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  font-style: normal;
  position: absolute;
  right: -5px;
  top: 0;
  z-index: 999;
  display: none;
  cursor: pointer;
}

.main-nav .fl:before {
  font-size: 14px;
  text-align: center;
  line-height: 35px;
}

.main-nav > ul > li + li > .sub-menu {
  left: 15px;
}

.main-nav > ul > li:hover > .sub-menu, .main-nav ul li .sub-menu li:hover > .sub-menu, .main-nav ul li .sub-menu li .sub-menu li:hover > .sub-menu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.menu-btn {
  border: 2px solid rgba(255, 255, 255, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 14px 28px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.menu-btn:hover {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  color: #fff;
}


.sticky {
  position: fixed;
  top: 0;
  background: #000;
  z-index: 999;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.01);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.01);
  padding-top: unset;
  border: none;
}

.sticky .main-nav > ul > li {
  padding: 34px 23px;
}

.sticky .main-nav > ul > li.has-child-menu:after {
  top: 33px;
}

.menu-info-wrap {
  z-index: 99;
  top: 0;
  left: 20%;
}

.menu-info-wrap .menu-info-shape {
  display: inline-block;
}

.menu-info-wrap .menu-info-shape a {
  text-transform: lowercase;
  color: #1A064E;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-info-wrap .menu-info-shape a i {
  margin-right: 5px;
}

.menu-info-wrap .menu-info-content p {
  color: #FFFFFF;
}

.menu-info-wrap .menu-info-content p a {
  color: #FF9D0F;
}

/*================================================
3. Hero CSS
=================================================*/
.hero-area {
  background-image: url(../images/shape/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 232px 0 250px;
}

.hero-round-1 {
  -webkit-animation: rot-2 20s linear infinite;
          animation: rot-2 20s linear infinite;
  top: 160px;
  left: 55%;
}

.hero-content h1 { 
      font-size: 60px;
    line-height: 66px;
  color: #FFFFFF;
}
.hero-content h6{
  color:#FF9D0F;
}
.hero-content h2 {
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
  margin: 18px 0 20px;
}

.hero-content h2 a {
  color: #FF9D0F;
}

.hero-content .hero-rating-wrap .owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-content .hero-rating-wrap .hero-rating ul {
  margin-top: 26px;
}

.hero-content .hero-rating-wrap .hero-rating ul li {
  display: inline-block;
  line-height: 1;
  color: #FFD954;
}

.hero-content .hero-rating-wrap .hero-rating ul li i {
  font-size: 12px;
}

.hero-content .hero-rating-wrap .hero-rating ul li:last-child {
  color: #fff;
  margin-left: 5px;
}

.hero-content.hero-content-style-3 h1 {
  margin: 4px 0px 34px;
}

.hero-content.hero-content-style-3 h2 {
  margin: 0px 0 0px;
}

.assignment-tab-wrap {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 0px 0 50px;
}
.assignment-tab-wrap h4{
  text-align: center;
  margin-bottom: 0;
  padding-top: 20px;

}
.assignment-tab-wrap .nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  border-bottom: 2px solid #6541FA;
  padding: 17px 10px;
}

.assignment-tab-wrap .nav-link {
  background: none;
  border-radius: unset;
  border: none;
  margin-right: 24px;
  padding: 0;
  line-height: 1;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #1A064E;
}

.assignment-tab-wrap .nav-link.active, .assignment-tab-wrap .nav-pills .show > .nav-link {
  color: #FF9D0F;
  background-color: unset;
}

.assignment-form-wrap form {
  padding: 0 30px;
}

.assignment-form-wrap form input, .assignment-form-wrap form textarea, .assignment-form-wrap form .input-file-upload {
  width: 100%;
  background: #F3F7FA;
  border: 1px solid rgba(26, 6, 78, 0.07);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 13px 30px;
  margin-bottom: 20px;
}

.assignment-form-wrap form input::-webkit-input-placeholder, .assignment-form-wrap form textarea::-webkit-input-placeholder, .assignment-form-wrap form .input-file-upload::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #777777;
}

.assignment-form-wrap form input:-ms-input-placeholder, .assignment-form-wrap form textarea:-ms-input-placeholder, .assignment-form-wrap form .input-file-upload:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #777777;
}

.assignment-form-wrap form input::-ms-input-placeholder, .assignment-form-wrap form textarea::-ms-input-placeholder, .assignment-form-wrap form .input-file-upload::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #777777;
}

.assignment-form-wrap form input::placeholder, .assignment-form-wrap form textarea::placeholder, .assignment-form-wrap form .input-file-upload::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #777777;
}
.des-attachment {
    position: relative;
}
.assignment-form-wrap form .input-file-upload {
    z-index: 1;
    cursor: pointer;
    padding: 0px 0;    
    position: absolute !important;
    bottom: 0;
}

.assignment-form-wrap form .input-file-upload img, .assignment-form-wrap form .input-file-upload span {
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  z-index: -1;
}

.assignment-form-wrap form .input-file-upload span {
  left: 30px;
  right: auto;
}

.assignment-form-wrap form input[type="file" i] {
  position: relative;
  filter: alpha(opacity=0);
  outline: none;
  cursor: inherit;
  color: transparent;
  opacity: 0;
  padding: 0px;
  margin-bottom: 0px;
}

.assignment-form-wrap form .assignment-btn-wrap button {
  border: none;
  background: #FF9D0F;
  border-radius: 5px;
  width: 100%;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
  color: #FFFFFF;
  padding: 11px 10px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.assignment-form-wrap form .assignment-btn-wrap button:hover {
  background: #a86500;
}

.step-box {
    display: block;
    padding: 25px;
    position: relative;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 8px 8px 16px #dedede, -8px -8px 16px #ffffff;
}
 .step-box .icon-box {
    display: block;
    margin: 0 auto;
    max-width: 75px;
    position: relative;
}
.step-box .icon-box i {
    align-items: center;
    background-color: transparent;
        background-color: #6744fa;
    color: #fff !important;
    border: 1px solid rgba(0,0,0,.08);
    border-radius: 50%;
    color: var(--thm-white);
    display: flex;
    font-size: 25px;
    height: 65px;
    justify-content: center;
    position: relative;
    width: 65px;
}
.overlay-list span {
    color: #1a064e;
    font-weight: 600;
}
.icon-box .overlay-list {
    align-items: center;
    background-color:#FF9D0F;
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    position: absolute;
    right: 0;
    top: -5px;
    width: 30px;
}


/*================================================
3. Service Area CSS
=================================================*/
.single-service-box {
    /* margin-bottom: 24px; */
    padding: 50px 25px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.single-service-box .service-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 78px;
}

.single-service-box .service-icon img {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.single-service-box .service-content h3 {
  font-weight: 500;
  font-size: 18px;
  margin: 49px 0 19px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}
.content-box .title-box {
    margin-bottom: 11px;
}
.single-service-box .service-content p {
  line-height: 30px;
  padding-right: 20px;
}

.single-service-box:hover .service-content h3 {
  color: #6440FA;
}

.single-service-box:hover .service-icon img {
  -webkit-transform: rotate3d(1, 1, 1, -360deg);
          transform: rotate3d(1, 1, 1, -360deg);
}

.single-service-box.single-service-box-2 {
  margin-bottom: 24px;
}


/*================================================
5. Count Area CSS
=================================================*/
.counter-item-wrap {
  margin-bottom: 24px;
}

.counter-item-wrap .counter-item {
  position: relative;
}

.counter-item-wrap .counter-item h1, .counter-item-wrap .counter-item em {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 72px;
  color: #1A064E;
  font-style: normal;
  line-height: 1;
}

.counter-item-wrap h3 {
  font-weight: 400;
  font-size: 18px;
  color: #777777;
  margin-top: 10px;
}

/*================================================
6. Assignment Area CSS
=================================================*/
.assignment-area {
  background-image: url(../images/shape/assignment-1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 250px 0 226px;
}

.assignment-text p {
  text-transform: capitalize;
  color: #FFFFFF;
  line-height: 33px;
}

.assignment-text p a {
  color: #FF9D0F;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  display: inline-block;
}

.assignment-text p a:hover {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}

.assignment-box {
  border-right: 1px solid rgba(255, 255, 255, 0.07);
  margin-bottom: 24px;
}

.assignment-box .assignment-icon i {
  font-size: 50px;
  line-height: 1;
  color: #fff;
  z-index: 1;
  position: relative;
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.assignment-box .assignment-icon .assignment-icon-shape {
  margin-bottom: -23px;
}

.assignment-box .assignment-icon .assignment-icon-shape .assignment-icon-shape-2 {
  position: absolute;
  left: 0;
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.assignment-box .assignment-icon .assignment-icon-shape .assignment-icon-shape-1 {
  opacity: 1;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.assignment-box .assignment-title {
  position: relative;
  padding-bottom: 13px;
  margin: 25px 0 19px;
}

.assignment-box .assignment-title::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 1px;
  background: rgba(255, 255, 255, 0.07);
  content: "";
}

.assignment-box .assignment-title::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 1px;
  background: rgba(100, 64, 250, 0.5);
  content: "";
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-animation: assignment-vibrate 2s alternate linear infinite;
          animation: assignment-vibrate 2s alternate linear infinite;
}

.assignment-box .assignment-title h3 {
  color: #fff;
}

.assignment-box .assignment-content p {
  line-height: 30px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 32px;
  padding-right: 30px;
}

.assignment-box .assignment-content a i {
  color: #301575;
  font-size: 32px;
  line-height: 1;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.assignment-box:hover .assignment-icon i {
  color: #6440FA;
}

.assignment-box:hover .assignment-icon .assignment-icon-shape .assignment-icon-shape-2 {
  opacity: 1;
}

.assignment-box:hover .assignment-icon .assignment-icon-shape .assignment-icon-shape-1 {
  opacity: 0;
}

.assignment-box:hover .assignment-title::after {
  background: #6440FA;
}

.assignment-shape-1 {
  left: 83px;
  top: 120px;
  -webkit-animation: assignment-vibrate 2s alternate linear infinite;
          animation: assignment-vibrate 2s alternate linear infinite;
}

.assignment-shape-2 {
  right: 40px;
  top: 50%;
  -webkit-animation: rot-2 5s linear infinite;
          animation: rot-2 5s linear infinite;
}

@-webkit-keyframes assignment-vibrate {
  0% {
    left: 0px;
  }
  100% {
    left: calc(110px - 50px);
  }
}

@keyframes assignment-vibrate {
  0% {
    left: 0px;
  }
  100% {
    left: calc(110px - 50px);
  }
}

@-webkit-keyframes rot-2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rot-2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/*================================================
7. Help Area CSS
=================================================*/
.help-tab-wrap .nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 35px;
}

.help-tab-wrap .nav-link {
  background: none;
  font-size: 16px;
  border-radius: unset;
  font-weight: 400;
  border: none;
  margin: 0 35px 20px 0px;
  padding: 0;
  line-height: 1;
  color: #777777;
  text-transform: capitalize;
}

.help-tab-wrap .nav-link.active, .help-tab-wrap .nav-pills .show > .nav-link {
  color: #FF9D0F;
  background-color: unset;
}

.help-content h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  text-transform: capitalize;
}

.help-content a {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: capitalize;
  color: #6440FA;
  margin: 20px 0 29px;
  display: inline-block;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.help-content a:hover {
  color: #23049f;
}

.help-content p {
  line-height: 30px;
}

.help-content ul li {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  text-transform: capitalize;
  color: #1A064E;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.help-content ul li:hover {
  color: #23049f;
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}

.help-content ul li span {
  color: #6440FA;
  margin-right: 7px;
}

.help-img-wrap:hover img {
  -webkit-filter: brightness(100%) hue-rotate(45deg);
          filter: brightness(100%) hue-rotate(45deg);
}

.help-img-wrap img {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}



/*================================================
7. Testimonial area CSS
=================================================*/

.single-testimonial p {
    font-size: 13px;
    line-height: 22px;
    text-align: left;   
    color: #545356;
        margin-top: 10px;
}
.single-testimonial {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 26px 26px 77px #dedede, -26px -26px 77px #ffffff;
}
 .hero-rating ul li i {
    font-size: 12px;
}
.hero-rating ul li {
    display: inline-block;
    line-height: 1;
    color: #FFD954;
}
.hero-rating ul li:last-child {
    margin-left: 10px;
    font-size: 11px;
}
.single-testimonial h6{
	margin-bottom:0px;
}
.testimonial-title {
  overflow: hidden;
}

.testimonial-title h1 {
  font-weight: 900;
  font-size: 72px;
  line-height: 1;
  text-transform: capitalize;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../images/animated-text-fill.png) repeat-y;
  -webkit-background-clip: text;
  /* Animate Background Image */
  -webkit-text-fill-color: #6440fab8;
  -webkit-animation: aitf 80s linear infinite;
          animation: aitf 80s linear infinite;
  /* Activate hardware acceleration for smoother animations */
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


/*================================================
8. FAQ Area CSS
=================================================*/
.faq-wrap .accordion-item {
  margin-bottom: 24px;
  border: none;
  background-color: unset;
}

.faq-wrap .accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.faq-wrap .accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.faq-wrap .accordion-item:last-child {
  margin-bottom: 0;
}

.faq-wrap .accordion-button {
  border: 1px solid #F6F6F6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  padding-right: 60px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #1A064E;
}

.faq-wrap .accordion-button:focus {
  z-index: unset;
  border-color: #F6F6F6;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.faq-wrap .accordion-button::after {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: unset;
  height: unset;
  margin-left: auto;
  background-image: none;
  background-repeat: unset;
  background-size: unset;
  font-family: bootstrap-icons !important;
  position: absolute;
  right: 22px;
  content: "\f286";
  -webkit-transition: unset;
  transition: unset;
  font-size: 12px;
}

.faq-wrap .accordion-button:not(.collapsed)::after {
  background-image: none;
  -webkit-transform: unset;
          transform: unset;
  font-family: bootstrap-icons !important;
  content: "\f282";
  font-size: 12px;
}

.faq-wrap .accordion-body {
  background: #F6F6F6;
  border-radius: 0px 0px 10px 10px;
}

.faq-wrap .accordion-button:not(.collapsed) {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid transparent;
  background: #6440FA;
  border-radius: 10px 10px 0px 0px;
  color: #fff;
}

.faq-wrap.faq-wrap-2 .accordion-body {
  background: #FDFDFD;
  border: 1px solid #F0F0F0;
  border-top: none;
}

/*================================================
9. Blog Area CSS
=================================================*/
.single-blog-wrap .blog-img {
  border-radius: 20px;
}

.single-blog-wrap .blog-img img {
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.single-blog-wrap .blog-img .blog-date {
  position: absolute;
  height: 0%;
  width: 100%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.4);
  top: 0;
  left: 0;
  padding: 10px;
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.single-blog-wrap .blog-img .blog-date h5 {
  background: #6440FA;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
  color: #FFFFFF;
  padding: 8px 13px;
  line-height: 1;
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.single-blog-wrap .blog-content {
  margin-top: -26px;
  position: relative;
}

.single-blog-wrap .blog-content h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  margin-top: 15px;
}

.single-blog-wrap .blog-content h2 a {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.single-blog-wrap:hover .blog-img img {
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.single-blog-wrap:hover .blog-img .blog-date {
  height: 100%;
  opacity: 1;
}

.single-blog-wrap:hover .blog-img .blog-date h5 {
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
}

.single-blog-wrap:hover .blog-content h2 a {
  color: #23049f;
}

.single-blog-wrap.single-blog-wrap-2 {
  margin-bottom: 24px;
}

/*================================================
9. Call to action CSS
=================================================*/

.call-to-action {
    background: #e2e8f0;   
}
.call-to-action h2 {
    font-weight: 700;
}

/*================================================
10. Footer CSS
=================================================*/
.footer-border {
  padding-bottom: 30px;
  margin-bottom: 56px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-social ul li {
  margin-right: 26px;
  display: inline-block;
}

.footer-social ul li:last-child {
  margin-right: 0;
}

.footer-social ul li i {
  font-size: 14px;
  color: #8669FB;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
  display: block;
}

.footer-social ul li i:hover {
  color: #FF9D0F;
  -webkit-transform: rotate3d(1, 1, 1, -15deg);
          transform: rotate3d(1, 1, 1, -15deg);
}

.single-widget {
  margin-bottom: 50px;
}

.single-widget.single-widget-last {
  padding-top: 67px;
}

.single-widget .chart-wrap .round-chart .circle-percent {
  font-size: 70px;
  width: 1em;
  height: 1em;
  position: relative;
  background: #E8E6ED;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.single-widget .chart-wrap .round-chart .circle-percent:after {
  position: absolute;
  left: 0.5em;
  top: 0;
  right: 0;
  bottom: 0;
  background: #FF9D0F;
  content: '';
}

.single-widget .chart-wrap .round-chart .circle-percent .circle-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  clip: rect(0 0.5em 1em 0em);
}

.single-widget .chart-wrap .round-chart .circle-percent .circle-inner .round-per {
  position: absolute;
  left: 0;
  top: 0;
  width: 1em;
  height: 1em;
  background: #FF9D0F;
  clip: rect(0 1em 1em 0.5em);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 1.05s;
  transition: 1.05s;
}

.single-widget .chart-wrap .round-chart .circle-percent .circle-inbox {
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  background: #6E4CFA;
  z-index: 3;
  border-radius: 50%;
}

.single-widget .chart-wrap .round-chart .circle-percent .circle-inbox .percent-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 3;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #FFFFFF;
}

.single-widget .chart-wrap .round-chart.round-chart-design-2 .circle-percent {
  background: #FFD954;
}

.single-widget .chart-wrap .round-chart.round-chart-design-2 .circle-percent:after {
  background: #FFD954;
}

.single-widget .chart-wrap .round-chart.round-chart-design-2 .circle-percent .circle-inner .round-per {
  background: #FFD954;
}

.single-widget .chart-wrap .chart-content {
  padding-left: 30px;
}

.single-widget .chart-wrap .chart-content h3 {
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.single-widget .footer-title h3 {
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.single-widget .footer-link ul.useful-2, .single-widget .footer-contact ul.useful-2 {
  padding-right:20px;
}

.single-widget .footer-link ul.useful-1, .single-widget .footer-contact ul.useful-1 {
  padding-right: 20px;
}

.single-widget .footer-link ul li, .single-widget .footer-contact ul li {
  margin-bottom: 6px;
}

.single-widget .footer-link ul li:last-child, .single-widget .footer-contact ul li:last-child {
  margin-bottom: 0;
}

.single-widget .footer-link ul li a, .single-widget .footer-contact ul li a {
  color: #FFFFFF;
  -webkit-transition: .3s;
  transition: .3s;
  display: block;
      font-size: 12px;
}

.single-widget .footer-link ul li a:hover, .single-widget .footer-contact ul li a:hover {
  color: #FF9D0F;
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
}

.single-widget .footer-contact ul li {
  font-weight: 700;
  color: #FF9D0F;
}

.single-widget .footer-contact ul li a {
  font-weight: 400;
}

.footer-area {
  background: #fff;
  background-image: url(../images/shape/footer-1.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 390px 0 7px;
}

.footer-area.footer-area-style-2 {
  background-image: url(../images/shape/footer-2.png);
}

.footer-area.footer-area-style-2 .footer-social ul li i {
  color: rgba(255, 255, 255, 0.2);
}

.footer-area.footer-area-style-2 .footer-social ul li i:hover {
  color: #6440FA;
}

.footer-area.footer-area-style-2 .single-widget .chart-wrap .round-chart .circle-percent .circle-inbox {
  background: #241156;
}

.footer-area.footer-area-style-2 .single-widget .chart-wrap .round-chart.round-chart-design-2 .circle-percent {
  background: #6440FA;
}

.footer-area.footer-area-style-2 .single-widget .chart-wrap .round-chart.round-chart-design-2 .circle-percent:after {
  background: #6440FA;
}

.footer-area.footer-area-style-2 .single-widget .chart-wrap .round-chart.round-chart-design-2 .circle-percent .circle-inner .round-per {
  background: #6440FA;
}

.footer-area.footer-area-style-2 .single-widget .footer-link ul li a:hover, .footer-area.footer-area-style-2 .single-widget .footer-contact ul li a:hover {
  color: #6440FA;
}

.footer-area.footer-area-style-2 .single-widget .footer-contact ul li {
  color: #6440FA;
}

.footer-area.footer-area-style-3 {
  background-image: url(../images/shape/footer-3.png);
  padding: 220px 0 7px;
}

.copy-text {
  padding: 19px 10px;
}

.copy-text p {
  color: #FFFFFF;
}

.copy-text p a {
  color: #FF9D0F;
}

.copy-text.copy-text-2 p a {
  color: #6440FA;
}


/*================================================
15. Assignment Form CSS
=================================================*/
.assignment-tab-wrap-2 {
  padding: 0px 0 30px;
}

.assignment-tab-wrap-2 .nav {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 30px;
  border-bottom: 2px solid #F6F6F6;
  padding: 17px 30px;
}

.assignment-tab-wrap-2 .nav-link.active, .assignment-tab-wrap-2 .nav-pills .show > .nav-link {
  color: #6440FA;
}

.assignment-tab-wrap-2 .assignment-form-wrap form .assignment-btn-wrap button {
  background: #6440FA;
}

.assignment-tab-wrap-2 .assignment-form-wrap form .assignment-btn-wrap button:hover {
  background: #23049f;
}




/*================================================
24. Service Details CSS
=================================================*/
.service-details-icon-box .service-details-icon-content {
  padding-left: 25px;
}

.service-details-icon-box .service-details-icon-content h5 {
  font-weight: 400;
  font-size: 14px;
  color: #6440FA;
  margin-bottom: 12px;
}

.service-details-icon-box .service-details-icon-content h2 {
  font-weight: 400;
  font-size: 24px;
}

.details-page-wrap p {
  line-height: 30px;
}

.details-page-title h3 {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 15px;
}

.details-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 11px;
}

.details-list ul li:last-child {
  margin-bottom: 0;
}

.details-list ul li i {
  color: #6440FA;
  margin-right: 17px;
  font-size: 16px;
}

/*================================================
25. Pagination CSS
=================================================*/
.pagination-list ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 10px;
}

.pagination-list ul li:last-child {
  margin-right: 0px;
}

.pagination-list ul li a {
  background: rgba(100, 64, 250, 0.07);
  border-radius: 50px;
  font-weight: 600;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  padding: 11px 17px;
}

.pagination-list ul li a:hover {
  background: #6440FA;
  color: #fff;
}

.pagination-list.pagination-list-2 ul li {
  margin-right: 15px;
}

.pagination-list.pagination-list-2 ul li a {
  padding: 0px 24px;
}

.pagination-list.pagination-list-2 ul li a i {
  font-size: 25px;
}




/*================================================
28. Contact Page CSS
=================================================*/
.location-map {
  height: 600px;
  overflow: hidden;
}

.location-map iframe {
  height: 100%;
  width: 100%;
}

.contact-title h2 {
  font-weight: 600;
  font-size: 24px;
}

.contact-input input, .contact-input textarea {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(100, 64, 250, 0.07);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px 20px;
}

.contact-input .contact-btn-wrap button {
  border: none;
}

.contact-input .contact-check span {
  color: #B14233;
}

.contact-input .form-message {
  position: absolute;
  top: 100%;
}

.contact-input .form-message.error {
  color: red;
}

.contact-input .form-message.success {
  color: green;
}

.contact-info:hover .contact-details-icon i {
  background: #FF9D0F;
}

.contact-info .contact-details-icon i {
 width: 50px;
    height: 50px;
    background: #6440FA;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
}

.contact-info .contact-details-info {
  padding-left: 25px;
}

.contact-info .contact-details-info h3 {
    font-weight: 600;
    font-size: 14px;
}


/*================================================
30. Blog Details CSS
=================================================*/
.blog-details-info h5 {
  color: #6440FA;
  font-weight: 400;
  font-size: 14px;
}

.blog-details-info h5 a {
  color: #FF9D0F;
}

.blog-details-info h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
}

.blog-details-comment-box {
  border-left: 5px solid #6440FA;
  padding-left: 45px;
  margin: 40px 0;
}

.blog-details-comment-box .blog-details-comment-img {
  width: 100%;
  max-width: 70px;
}

.blog-details-comment-box .blog-details-comment-content {
  padding-left: 30px;
}

.blog-details-comment-box .blog-details-comment-content h3 {
  font-size: 18px;
  color: #6440FA;
}

.blog-details-comment-box .blog-details-comment-content p {
  font-size: 18px;
  line-height: 30px;
  color: #1A064E;
  line-height: 30px;
}

.details-tag-wrap {
  border-top: 1px solid rgba(10, 3, 29, 0.07);
}

.details-tag-wrap .details-tag-content span {
  margin-right: 21px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
  color: #1A064E;
}

.details-tag-wrap .details-tag-content ul li {
  background: rgba(100, 64, 250, 0.07);
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
  padding: 11px 23px;
  display: inline-block;
  margin: 0px 5px 3px 0px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.details-tag-wrap .details-tag-content ul li:hover {
  background: #6440FA;
  color: #fff;
}

.details-tag-wrap .tag-social ul li {
  display: inline-block;
  margin-right: 34px;
}

.details-tag-wrap .tag-social ul li:last-child {
  margin-right: 0;
}

.details-tag-wrap .tag-social ul li a i {
  font-size: 16px;
  display: block;
  color: #BFC7CC;
  line-height: 1;
  -webkit-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}

.details-tag-wrap .tag-social ul li a i:hover {
  color: #6440FA;
  -webkit-transform: rotate3d(1, 1, 1, -15deg);
          transform: rotate3d(1, 1, 1, -15deg);
}

.single-comment .comment-box {
  border-bottom: 1px solid rgba(10, 3, 29, 0.07);
  padding-bottom: 20px;
  margin-bottom: 28px;
}

.single-comment .comment-box:last-child {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.single-comment .comment-box:nth-child(even) {
  padding-left: 100px;
}

.single-comment .comment-box .comment-img {
  width: 100%;
  max-width: 70px;
}

.single-comment .comment-box .comment-content {
  padding-left: 30px;
}

.single-comment .comment-box .comment-content h3 {
  font-size: 18px;
}

.single-comment .comment-box .comment-content p {
  line-height: 30px;
}

.comment-title h2 {
  font-weight: 600;
  font-size: 24px;
}


/*Back to Top btn*/
.back-to-top-btn {
  position: fixed;
  bottom: 40px;
  right: 30px;
  background: #fff;
  height: 38px;
  width: 38px;
  text-align: center;
  line-height: 36px;
  display: none;
  z-index: 9999;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.back-to-top-btn:hover i {
  color: #6440FA;
}

.back-to-top-btn i {
  color: #183B56;
  font-size: 18px;
  -webkit-transition: .3s;
  transition: .3s;
}

.back-to-top-btn i::before {
  vertical-align: middle;
}



.choose-block {
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 30px;
    margin-bottom: 100px;
}
.service-details-area .assignment-tab-wrap {   
    position: sticky;
    top: 100px;
    background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4.5px );
-webkit-backdrop-filter: blur( 4.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.single-cart {
    padding: 20px;
}